<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.fordiac.ide.deployment.devicemanagementinteractor">
      <DeviceManagementInteractorProvider
            class="com.asti.fordiac.ide.deployment.uao.providers.UAODevMgmtInteractorProvider">
      </DeviceManagementInteractorProvider>
   </extension>
</plugin>